/* FONTS
font-family: 'Roboto', sans-serif;
*/
/* COLORS
#1E232B - Dark
#C9FD3A - Yellow
#FEFEFF - Light
#494c51 - Gray
#2249f7 - Purple
*/

@media only screen and (min-width: 350px) {
    .admindash {
        font-family: 'Roboto', sans-serif;
    }

    .admin-title {
        font-size: 2.2em;
        font-family: 'Roboto', sans-serif;
        letter-spacing: -2px;
    }

    .admin-top {
        padding: 0.5em 1em 0 1em;
    }

    .admin-caption {
        font-family: 'Roboto', sans-serif;
        background-color: #2249f7;
        width: fit-content;
        padding: 0.4em 0.8em;
        font-weight: 600;
        border-radius: 5px;
        margin: -1em 1em 2em 1em;
    }

    .admin-partners {
        background-color: #FEFEFF;
        color: #1E232B;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .admin-partners-title {
        font-size: 2em;
        letter-spacing: -2px;
        padding: 0.6em;
        font-weight: 500;
    }

    .partner-block1 {
        padding: 0.4em 0.8em;
        border-top: 1px solid #1E232B;
        border-bottom: 1px solid #1E232B;
        font-size: 0.9em;
    }

    .partner-block {
        padding: 0.4em 0.8em;
        border-bottom: 1px solid #1E232B;
        font-size: 0.9em;
    }

    .partner-name {
        font-size: 0.7em;
        font-weight: 400;
    }

    .partner-contact {
        font-size: 0.7em;
        margin-left: 0.6em;
    }

    .partner-icon {
        font-size: 1.6em;
    }

    .admin-plus {
        text-decoration: none;
        color: #FEFEFF;
        background-color: #2249f7;
        padding: 0.8em 1em;
        margin-right: 1em;
        border-radius: 8px;
    }

    .ticket-count {
        padding: 0.2em 0.5em;
        border-radius: 5px;
    }

    .tb-search {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        padding: 0.8em;
        font-family: 'Roboto', sans-serif;
        border: 0px solid rgba(0, 0, 0, 0);
        background-color: #e7ebff;
        font-size: 1em;
    }

    .tb-search:focus {
        outline: none;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 800px) {}

@media only screen and (min-width: 1000px) {
    .admin-partners {
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) {}