/* FONTS
font-family: 'Roboto', sans-serif;
*/
/* COLORS
#1E232B - Dark
#C9FD3A - Yellow
#FEFEFF - Light
#494c51 - Gray
#2249f7 - Purple
*/

@media only screen and (min-width: 350px) {
    .partner-name {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1em;
        letter-spacing: -1px;
    }

    .partner-info {
        padding: 1em;
        border-radius: 10px;

    }

    .add-project-btn {
        font-family: 'Roboto', sans-serif;
        border: 0;
        padding: 1em;
        background-color: #2249f7;
        color: #FEFEFF;
        margin-right: 1em;
        border-radius: 10px;
        font-weight: 400;
        font-size: 1em;
    }

    .project-details {
        padding: 1.5em;
    }

    .project-details-block p {
        font-size: 0.9em;
        font-weight: 400;
    }

    .has-message {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .has-message p {
        font-size: 1.2em;
    }

    .has-message-icon {
        font-size: 1.5em;
        color: #2249f7;
    }

}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 800px) {}

@media only screen and (min-width: 1000px) {
    .partner-project-split {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 1em;
        padding: 1em;
    }
}

@media only screen and (min-width: 1200px) {}